@()(implicit request: Request[_])

@wrapper {
    <div class="app app-header-fixed ">
        <div class="container w-xxl w-auto-xs">
            <div class="m-b-lg" style="text-align: center">
                <img src="/assets/img/logo.png" style="width: 200px;">
                <form name="form" class="form-validation" method="POST">
                    <div class="text-danger wrapper text-center" style="display: block">
                        @request.flash.get("error").map {
                            case "empty_fields" => { Please, enter your login and password }
                            case "incorrect_credentials" => { Incorrect login or password }
                        }
                    </div>
                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <input type="text" placeholder="Login" class="form-control no-border" name="login" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="Password" class="form-control no-border" name="password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
                    <a href="@routes.AuthController.register()" class="btn btn-lg btn-default btn-block">Create an account</a>
                </form>
            </div>
        </div>
    </div>
}