@()(implicit request: utils.AuthenticatedRequest[_])

@Admin.adminPage {
    <!-- column -->
    <div class="col w lter b-r" ng-controller="CustomTabController">
        <div class="vbox">
            <div class="wrapper b-b">
                <a href="#" class="fa fa-plus" style="float: right; position: relative; top: 3px" id="addProduct"></a>
                <div class="font-thin h4">Your products</div>
            </div>

            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-1">
                                <ul style="list-style: none; padding: 0px" id="productsList">

                                </ul>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="wrapper-md">
                                    Month report
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="wrapper-md">
                                    Year report
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->

    <div class="col">
        <div class="vbox">
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-md">
                            <form role="form" id="adminForm" style="display: none;">
                                <input type="submit" id="submitbutton" style="display: none">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">Information</div>
                                    <div class="panel-body">
                                            <input type="hidden" name="id" id="id" value="">
                                            <div class="form-group">
                                                <label>WIX product url</label>
                                                <input type="text" class="form-control" placeholder="Enter you product url" name="productUrl" id="productUrl" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Category</label>
                                                <select class="form-control" name="category" id="category" placeholder="Select category of you product" required>
                                                    <option>test</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control" name="country" id="country" placeholder="Your country" required>
                                                    <option>test</option>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-success save_button">Save</button>
                                            <button type="submit" class="btn btn-danger delete_button">Delete</button>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">Product description</div>
                                    <div class="panel-body">

                                            <div class="form-group">
                                                <label>Title</label>
                                                <input type="text" class="form-control" placeholder="Enter product title" name="title" id="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Image url</label>
                                                <input type="text" class="form-control" placeholder="Enter product image" name="productImage" id="productImage" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input type="text" class="form-control" placeholder="Enter product price" name="productPrice" id="productPrice" required>
                                            </div>

                                            <button type="submit" class="btn btn-success save_button">Save</button>
                                            <button type="submit" class="btn btn-danger delete_button">Delete</button>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        <span>Banners selling</span>
                                        <label class="i-switch bg-info m-t-xs m-r" style="float: right; position: relative; top: -4px;">
                                            <input type="checkbox" checked="" name="isBannerSellingEnabled" id="isBannerSellingEnabled" value="true">
                                            <i></i>
                                        </label>
                                    </div>
                                    <div class="panel-body">

                                            <div class="form-group">
                                                <label>Click price</label>
                                                <input type="text" class="form-control" placeholder="Enter your price for click" name="clickPrice" id="clickPrice">
                                            </div>
                                            <div class="form-group">
                                                <label>Campaign budget</label>
                                                <input type="text" class="form-control" placeholder="Enter your campaign budget" name="campaignBudget" id="campaignBudget">
                                            </div>

                                            <button type="submit" class="btn btn-success save_button">Save</button>
                                            <button type="submit" class="btn btn-danger delete_button">Delete</button>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        <span>Cross sale</span>
                                        <label class="i-switch bg-info m-t-xs m-r" style="float: right; position: relative; top: -4px;">
                                            <input type="checkbox" checked="" name="isCrossSellEnabled" id="isCrossSellEnabled" value="true">
                                            <i></i>
                                        </label>
                                    </div>
                                    <div class="panel-body">

                                            <p>
                                                About cross sale
                                            </p>
                                        <p>
                                            About cross sale
                                        </p>
                                            <p>
                                                About cross sale
                                            </p>
                                            <div class="form-group">
                                                <label>Your cross sale code</label>
                                                <input type="text" disabled class="form-control" id="url">
                                            </div>

                                            <button type="submit" class="btn btn-success save_button">Save</button>
                                            <button type="submit" class="btn btn-danger delete_button">Delete</button>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        <span>Views sources</span>
                                    </div>
                                    <div class="panel-body">
                                        <div style="height:246px" id="testPlot1"></div>
<!--                                        <script>

              $(function() {

            })
            </script>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        <span>Clicks sources</span>
                                    </div>
                                    <div class="panel-body">
                                        <div style="height:246px" id="testPlot2"></div>
                                      <!--  <script>

              $(function() {
              var data = [
                { data: 3, label:'http://google.com' },
                { data: 4, label:'http://habr.ru' }
              ];

              var options = {
                grid: {
                  hoverable: true
                },
                colors: ['#23b7e5', '#7266ba'],
                tooltip: true,
                tooltipOpts: { content: "%y.0",  defaultTheme: false, shifts: { x: 10, y: -25 } },
                series: {
                  pie: {
                    show: true
                  }
                }
              };

              $('#testPlot2').plot(data, options);
            })
            </script>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        <span>Views and clicks</span>
                                    </div>
                                    <div class="panel-body">
                                        <div style="height:246px" id="testPlot"></div>
                                        <!--<script>
            $(function() {
              var data = [
                { data: [ [1444780800000, 7], [1444867200000, 3] ], label:'Views', lines: { show: true, lineWidth: 1, fill: true}, points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 } },
                { data: [ [1444780800000, 3], [1444867200000, 5] ], label:'Clicks', lines: { show: true, lineWidth: 1, fill: true}, points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 } }
              ];

              var options = {
                colors: ['#23b7e5', '#7266ba'],
                series: { shadowSize: 3 },
                xaxis:{
                  font: { color: '#a1a7ac' },
                  mode: "time",
                  timeformat: "%d/%m/%Y",
                  minTickSize: [1, "day"]
                },
                yaxis:{ font: { color: '#a1a7ac' } },
                grid: { hoverable: true, clickable: true, borderWidth: 0},
                tooltip: true,
                tooltipOpts: { content: '%y.0 %s',  defaultTheme: false, shifts: { x: 10, y: -25 } }
              };

              $('#testPlot').plot(data, options);
            })
            </script>-->
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="/assets/js/adminpage.js"></script>
    <style>
        .selected_product {
            background-color: #dee5e7!important;
        }
        #productsList li:hover {
            background-color: #ebebeb;
        }
    </style>

}