@()(implicit request: utils.AuthenticatedRequest[_])

@Admin.adminPage {
    <div class="col">
        <div class="vbox">
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-md">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">You want to sell ads from our network? Just install our banner on you store and be in profit!</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Select your website category</label>
                                            <select class="form-control" id="category"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Select your country</label>
                                            <select class="form-control" id="country"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Banner code</label><br>
                                            <code id="url"></code>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/promoting.js"></script>
    <!-- /column -->
}